  
<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Message URL</th>
      <th>Recipient</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= 'TODO: host/messages/' + message.message_id %></td>
        <td><%= message.recipient %></td>
        <td><%= link_to 'Delete Message', message, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>