<h1>
  <span id="tagline">This Message Will Self-Destruct pending congressional review.</span>
</h1>
<section id="content">
  <p id="tmwsd-description">Hillary's clandestine message service</p>

<h1>New Message</h1>

<%= render 'form' %>

</section>
<footer>
  <p>
    <strong>Mission statement</strong>
    Avoid oversight by secrectly passing plans of self serving advancement.
  </p>
</footer>